*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #F6F8F9;
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: white;
    padding: 10px 20px;
}

h1{
    display: inline-block;
    vertical-align: middle;
}

.logo{
    vertical-align: middle;
}

.container{
    background-color: lightgrey;
    max-width: 800px;
    margin: auto;
    padding-left: 50px;
    margin-top: 50px;
}

.bottoni{
    display: inline-block;
    padding: 10px;
}

.bottone1{
    color: white;
    background-color: #45ABEA;
    padding: 8px;
    border-radius: 5px;
    border-color: #45ABEA;
    box-shadow: #45ABEA;
}

.bottone2{
    color: lightgrey;
    background-color: white;
    padding: 8px;
    border-radius: 5px;
    border-color: lightgray;
    box-shadow: #F6F8F9;
}

h1{
    padding: 25px 0px 0px 0px;
    display: inline-block;
}

.triangolo{
    padding-top: 40px;
}

.cerchio{
    display: inline-block;
    height: 20px;
    width: 20px;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    text-align: center;
    margin: 5px;
}

.check{
    color: green;
    border-color: green;
}

.prima{
    display: inline-block;
}

.editorial{
    color: white;
    background-color: #45ABEA;
    margin-left: 10px;
    height: 20px;
    width: 50px;
    border-radius: 10px;
    font-size: small;
    padding: 5px;
}

.q1{
    color: white;
    background-color: #9C72E4;
    margin-left: 10px;
    height: 20px;
    width: 50px;
    border-radius: 10px;
    font-size: small;
    padding: 5px;
}