*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #F6F8F9;
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: white;
    padding: 10px 20px;
}

h1{
    display: inline-block;
    vertical-align: middle;
}

.logo{
    vertical-align: middle;
}

.container{
    background-color: lightgrey;
    max-width: 800px;
    margin: auto;
    padding-left: 50px;
    margin-top: 50px;
}

.bottoni{
    display: inline-block;
    padding: 10px;
}

.bottone1{
    color: white;
    background-color: #45ABEA;
    padding: 8px;
    border-radius: 5px;
    border-color: #45ABEA;
    box-shadow: #45ABEA;
}

.bottone2{
    color: lightgrey;
    background-color: white;
    padding: 8px;
    border-radius: 5px;
    border-color: lightgray;
    box-shadow: #F6F8F9;
}